<footer class="page-footer font-small blue pt-4 mt-4">

  <%# <p class="lead">Resource can be found at <a href="https://www.atlas-scientific.com/_files/_datasheets/_circuit/pH_EZO_Datasheet.pdf" target="_blank"> this file</a> from page 6-8 .
  </p> %>
  <%# <p class="lead">
    Wait for 5 seconds after submitting to receive calibration status.
    <span>(Green alert after reload means calibration is successful)</span>
  </p> %>

  <div class="footer-copyright text-center py-3 bg-light">© 2018 Copyright:
    <a href="http://www.hamk.fi/Sivut/default.aspx" target="_blank">HAMK</a>
  </div>
</footer>
