<% include ./partials/header %>
	<% if(success && success.length > 0){ %>
		<div class="alert alert-success" role="alert">
			<strong>Success:</strong> <%= success %>
		</div>
		<% } %>
		<% if(error && error.length > 0){ %>
			<div class="alert alert-danger" role="alert">
		  <strong>Error:</strong><%= error %>
		</div>
		<% } %>
		<% if(success.length == 0 && error.length == 0 ){ %>
			<div class="alert alert-info" role="alert">
				<strong>Info:</strong> Calibration process is ready.
			</div>
	<% } %>

<!-- 	<div class="alert alert-info" role="alert">
		<strong>Info:</strong> Calibration process is ready.
	</div> -->

	<div class="solution-header py-1 pb-md-4 mx-auto text-center">
		<h1 class="display-4">Calibration</h1>
		<!-- <p class="lead">The system will do the rest for you.</p> -->
    </div>
    <div class="container mx-auto">
		<form class="align-item-center" onsubmit="return validate();" action="/new_ph" id="my-form" method="POST">
			<div class="card-deck text-center mb-3">
				<div class="box-shadow card mb-4">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">Low</h4>
					</div>
					<div class="card-body">
							<label for="low">
							<img src="img/red.jpg" class="img-fluid"alt="Responsive image">

							</label>
					</div>
					<label class="my_container" onclick="unCheck1()">
						<input type="checkbox" id="low" name="low">
						<span class="checkmark checkmark_low"></span>
					</label>
				</div>


<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->
				<div class="box-shadow card mb-4">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">Medium</h4>
					</div>
					<div class="card-body">
						<label for="medium">
						<img src="img/yellow.jpg" class="img-fluid" alt="Responsive image">
					    </label>
					</div>

					<label class="my_container" onclick="unCheck2()">
						<input type="checkbox" id="medium" name="medium">
						<span class="checkmark checkmark_medium"></span>
					</label>
				</div>
				<div class="box-shadow card mb-4">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">High</h4>
					</div>
					<div class="card-body">
						<label for="high">
						<img src="img/blue.jpeg" class="img-fluid" alt="Responsive image">
						</label>
					</div>
					<label class="my_container" onclick="unCheck3()">
						<input type="checkbox" id="high" name="high">
						<span class="checkmark checkmark_high"></span>
					</label>
				</div>

			</div>
			<div class="mx-auto" style="width: 10%;">
				<input class="btn btn-primary btn-lg" type="submit" value="Submit">
			</div>

		</form>
			<p class="lead">
		    Wait for 5 seconds after submitting to receive calibration status.
		    <span>(Green alert after reload means calibration is successful)</span>
		  </p>
		<% include ./partials/footer %>

	</div>

</body>
<script type="text/javascript">
var form        = document.getElementById("my-form"),
    low         = document.getElementById("low"),
    medium      = document.getElementById("medium"),
    high        = document.getElementById("high");
function unCheck1() {
  if (low.checked == true){
    medium.checked = false;
    high.checked   = false;
  }
}
function unCheck2() {
  if (medium.checked == true){
    low.checked = false;
    high.checked   = false;
  }
}
function unCheck3() {
  if (high.checked == true){
    medium.checked = false;
    low.checked   = false;
  }
}

function validate(){
	if(low.checked==false && medium.checked==false && high.checked== false){
	  alert("You haven't filled in anything");
	  return false;
	};
};
</script>
</html>
