<% include ./partials/header %>
	<% if(success && success.length > 0){ %>
		<div class="alert alert-success" role="alert">
			<h4>Success:</h4>
			Successful calibration at <strong><%= success %></strong> position!!!

		<% } %>
		<% if(error && error.length > 0){ %>
			<div class="alert alert-danger" role="alert">
			<h4>Error:</h4>
			Please try again.

		<% } %>
		<% if(success.length == 0 && error.length == 0 ){ %>
			<div class="alert alert-info" role="alert">
				<strong>Info:</strong> Calibration process is ready.

	<% } %>
</div>

	<div class="solution-header py-1 pb-md-4 mx-auto text-center">
		<h1 class="display-4">Calibration: <span class="border border-primary rounded"><%=status%></span> / 3</h1>
		<% if (last_position != "" && last_time != "") {%>
		<div><i class="fas fa-clock"></i> Last calibration: <span class="text-success"><%=last_position%> position</span> in <span class="text-info"><%=last_time%></span>.</div>
		<% }%>
		<% if( status == 0){ %>
			<div class=""><i class="far fa-lightbulb"></i> Start with Middle Calibration for Single Point.</div>
		<% } %>
	<% if( status == 1){ %>
		<div class=""><i class="far fa-lightbulb"></i> High or Low Calibration for Two Point.</div>
	<% } %>
	<% if( status == 2 && last_position == "low"){ %>
		<div class=""><i class="far fa-lightbulb"></i> High Calibration for Three Point.</div>
	<% } %>
	<% if( status == 2 && last_position == "high"){ %>
		<div class=""><i class="far fa-lightbulb"></i> Low Calibration for Three Point.</div>
	<% } %>
	<% if( status == 3){ %>
		<div class=""><i class="far fa-lightbulb"></i> Three Point Calibration is successful.</div>
	<% } %>
    </div>
    <div class="container mx-auto">
		<form class="align-item-center" onsubmit="return validate();" action="/new_ph" id="my-form" method="POST">
			<div class="card-deck text-center mb-3">
				<div class="box-shadow card mb-4">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">Low</h4>
					</div>
					<div class="card-body">
							<label for="low">
							<img src="img/red.jpg" class="img-fluid"alt="Responsive image">

							</label>
					</div>
					<label class="my_container" onclick="unCheck1()">
						<input type="checkbox" id="low" name="low">
						<span class="checkmark checkmark_low"></span>
					</label>
				</div>


<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->
				<div class="box-shadow card mb-4">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">Middle</h4>
						<p class="font-weight-small text-danger">(Reset Calibration to 1 point)</p>
					</div>
					<div class="card-body">
						<label for="medium">
						<img src="img/yellow.jpg" class="img-fluid" alt="Responsive image">
					    </label>
					</div>

					<label class="my_container" onclick="unCheck2()">
						<input type="checkbox" id="medium" name="medium">
						<span class="checkmark checkmark_medium"></span>
					</label>
				</div>
<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->
				<div class="box-shadow card mb-4">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">High</h4>
					</div>
					<div class="card-body">
						<label for="high">
						<img src="img/blue.jpeg" class="img-fluid" alt="Responsive image">
						</label>
					</div>
					<label class="my_container" onclick="unCheck3()">
						<input type="checkbox" id="high" name="high">
						<span class="checkmark checkmark_high"></span>
					</label>
				</div>

			</div>
			<div class="mx-auto" style="width: 10%;">
				<input class="btn btn-primary btn-lg center-block" type="submit" value="Submit">
			</div>

		</form>
			<p class="lead">
		    Wait for 6-7 seconds after submitting to receive calibration status.
		    <span>(Green alert after reload means calibration is successful)</span>
		  </p>
		<% include ./partials/footer %>

	</div>

</body>
<script type="text/javascript">
var form        = document.getElementById("my-form"),
    low         = document.getElementById("low"),
    medium      = document.getElementById("medium"),
    high        = document.getElementById("high");
function unCheck1() {
  if (low.checked == true){
    medium.checked = false;
    high.checked   = false;
  }
}
function unCheck2() {
  if (medium.checked == true){
    low.checked = false;
    high.checked   = false;
  }
}
function unCheck3() {
  if (high.checked == true){
    medium.checked = false;
    low.checked   = false;
  }
}

function validate(){
	if(low.checked==false && medium.checked==false && high.checked== false){
	  alert("Check one");
	  return false;
	};
};
</script>
</html>
