<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div>
		<form onsubmit="return validate();" action="/bio/new_ph" id="my-form" method="POST">
			<p>Calibration PH: </p>
      <div>
        <input type="checkbox" onClick="unCheck1()" id="low" name="low">
        <label>Low calibration with 4Ph</label>
      </div>
      <div>
        <input type="checkbox" onClick="unCheck2()" id="medium" name="medium">
        <label>Medium calibration with 7Ph</label>
      </div>
      <div>
        <input type="checkbox" onClick="unCheck3()" id="high" name="high">
        <label>High calibration with 10Ph</label>
      </div>
			<input type="submit" value="Submit">
		</form>

<!-- -------------------------------------------------------------------------->
    <!-- <form action="/bio/new_temp">
      <p>Temperature calibration:</p>
      <div>
        <input type="checkbox" onClick="start()" id="temperature" name="temperature">
        <label>Calibrate with temperature?</label>
				<div id="temp"></div>
      </div>

      <input type="submit" value="Apply">
    </form> -->
	</div>
</body>
<script type="text/javascript">
var temperature = document.getElementById("temperature");
var form        = document.getElementById("my-form");
var low    = document.getElementById("low"),
    medium = document.getElementById('medium'),
    high   = document.getElementById('high');
function unCheck1() {
  if (low.checked == true){
    medium.checked = false;
    high.checked   = false;
  }
}
function unCheck2() {
  if (medium.checked == true){
    low.checked = false;
    high.checked   = false;
  }
}
function unCheck3() {
  if (high.checked == true){
    medium.checked = false;
    low.checked   = false;
  }
}
function validate(){
if(low.checked==false && medium.checked==false && high.checked== false){
  alert("You haven't filled in anything");
  return false;
};
}
// function start() {
// 	if(temperature.checked == true){
// 		console.log("so true");
// 		a = `
// 		   <div>
// 		     <input type="checkbox">
// 		     <label>Temperature measured by PT100</label>
// 				 <input type="text" placeholder="Your own temperature">
// 			 </div>`;
// 		document.getElementById("temp").innerHTML = a;
// 	};
// 	if(temperature.checked == false){
// 		document.getElementById("temp").innerHTML = '';
// 	}
//
// }
</script>
</html>
