<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div>
		<form onsubmit="return validate();" action="/bio/new" id="my-form" method="POST">
			<p>Calibration PH (for example: 4) : </p>
			<input type="text" name="PH" id="PH" placeholder="Insert the PH of Calibration Liquid here">
			<input type="submit" value="Submit">
		</form>
	</div>
</body>
<script type="text/javascript">
var form = document.getElementById("my-form");
function validate()
{
	var x = document.getElementById("PH").value;
	if(isNaN(parseFloat(x)) == true || parseFloat(x)>12 || parseFloat(x)<0)
	{
		alert("You have to input a number between 0 and 12");
		document.getElementById("my-form").reset();
		// location.reload();
		return false;
	}
	return true;

}
</script>
</html>
