<% include ./partials/header %>
<body>
<div class="container">
	<h2 class="">Step 1-3:</h2>
	<img src="img/pre.png" class="img-fluid" alt="Responsive image">
	<p class="lead">1.Rinse off pH probe.</p>
	<p class="lead">2. Pour a small amount of the calibration solution into a cup.</p>
	<p class="lead">3. Let the probe sit in calibration solution untill readings stabalize (1 – 2 minutes).</p>
</div>
<div class="container">
	<h2 class="">Step 4-5:</h2>
	<p class="lead"><a href="https://konttiserver.ddns.net/bio/" target="_blank">Konttiserver.ddns.net/bio</a> should look like this:</p>
	<img src="img/main.png" class="img-fluid resize" alt="Responsive image">
	<p class="lead">4. Left-click zoning areas(images or checkboxes) to select right calibration solution:</p>
	<img src="img/test5.png" class="img-fluid resize" alt="Responsive image">
	<p class="lead">5. Click <img src="img/submit.png" class="img-thumbnail resize_button" alt="Responsive image"> and wait at most 5 seconds until reloading is done.</p>
</div>
<div class="container">
	<h2>Warning:</h2>
	<alert class="alert-warning">1.Do not pour the calibration solution back into the bottle.</alert>
	<img src="img/warning.png">
	<br>
  <alert class="alert-warning">2. Calibrating with 7pH solution after the EZO™ pH circuit
	has been calibrated will clear the other calibration points.Full calibration will have to be redone</alert>
</div>
<% include ./partials/footer %>
</body>
</html>
